.ahp-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 2cm);
  }
  
  body {
    background-color: rgb(255, 255, 255);
  }

  .ahp-form {
    margin-top: 4cm;
  }

  .outlined-box {
    border: 2px solid rgb(255, 255, 255);
    padding: 10px;
    background-color: rgb(255, 255, 255);
    display: inline-block;
    text-align: center;
  }
  .outlined-box td {
    border: 1px solid rgb(0, 0, 0);
    padding: 5px;
  }
  
  .outlined-box th {
    border: 1px solid rgb(0, 0, 0);
    padding: 5px;
  }
  
  .outlined-box tbody tr:last-child td {
    border-bottom: 1px solid rgb(0, 0, 0);
  }
  
  .outlined-box tbody td:last-child {
    border-right: 1px solid rgb(0, 0, 0);
  }
  
  /* Add this style to align the radio buttons */
  .outlined-box td label {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  table td.select-td {
    padding-left: 0.5cm;
  }
  
  table {
    border-collapse: collapse;
    margin: 0 auto;
  }
  
  th {
    padding: 8px;
  }
  
  td {
    padding: 8px;
    text-align: center;
  }
  
  /* Add padding to the 'How much more important?' th element */
  th:nth-child(2) {
    padding-left: 0.5cm;
  }

  .logo {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    z-index: 1;
  }
  
  .logo img {
    height: 100px;
    width: auto;
  }

  .header-title {
    font-family: "Fantasy";
  }